<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../globalCSS.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Teko&display=swap');
  </style>
</head>

<body>
  <footer>
    <!-- SOCIAL MEDIA -->
    <section>
      <div class="footer-container">
        <section class="mascot-footer-space">
          <img src="../Images/540px-GMSurvivorSpiffo.png" class="Mascot-Footer">
        </section>
        <div class="footer-boxes">
          <div class="box1">
            <ol>
              <h3>
                &ThickSpace; CONTACT ME HERE:
                <hr>
              </h3>
              <!-- CREATORS SOCIAL MEDIA -->
              <a href="#">
                <li> <img src="/Images/briefcase.svg" class="Icon_PORTFOLIO">
                  &ThickSpace; Look who I am! portfolio
                </li>
              </a>
              <a href="#">
                <li> <img src="/Images/github.svg" class="Icon_GITHUB">
                  &ThickSpace; My posted workpieces on @Github
                </li>
              </a>
              <a href="#">
                <li> <img src="/Images/twitter.svg" class="Icon_TWITTER">
                  &ThickSpace;Requests or questions here! Twitter
                </li>
              </a>
              <a href="#">
                <li> <img src="/Images/discord.svg" class="Icon_DISCORD">
                  &ThickSpace;Requests or questions here! Discord
                </li>
              </a>
            </ol>
          </div>
          <div class="box2">
            <ol>
              <h3>
                &ThickSpace; OFFICIAL:
                <hr>
              </h3>
              <!-- CREATORS SOCIAL MEDIA -->
              <a href="#">
                <li> <img src="/Images/globe.svg" class="Icon_GLOBE">
                  &ThickSpace; OFFICIAL website
                </li>
              </a>
              <a href="#">
                <li> <img src="/Images/176px-Spiffo-computer.jpg" class="Icon_FORUMS">
                  &ThickSpace; OFFICIAL Forums
                </li>
              </a>
              <img src="/Images/build-footer.jpg" class="footer-img-build">
            </ol>
          </div>
          <div class="box3">
            <ol>
              <img src="/Images/defend-footer.jpg" class="footer-img-defend">
              <h3>
                &ThickSpace; NOTE:
                <hr>
              </h3>
              <!-- NOTES -->
              <li> <img src="/Images/briefcase.svg" class="Icon_PORTFOLIO">
                &ThickSpace; Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ea explicabo, architecto
                quam harum voluptatum quod laboriosam enim tempore culpa illo! Nobis, nihil. Aperiam, quas. Tenetur ab
                beatae reiciendis repellat.
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="trade">
        <p>&ThickSpace;&ThickSpace;Fan made Website @ Wassim&ThickSpace;&ThickSpace;
      </div>
    </section>
  </footer>
</body>
<script src="../javascript.js"></script>

</html>