<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../globalCSS.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Teko&display=swap');
  </style>
</head>

<body>
  <section>
    <div class="flex-container">
      <div id="background-container"></div>
      <div class="gameplayFeatures">
        <div>
          <div class="gameplayFeatures_SURVIVE">
          </div>
          <div class="gameplayFeatures_CONTENT">
            <h3>SURVIVE</h3>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt doloremque molestias, minima veritatis
              saepe aliquid quod nesciunt voluptatem facilis optio ipsam, perferendis recusandae, labore amet sapiente
              deleniti obcaecati aliquam quos.
            </p>
            <ul id="gameplayFeatures_LIST">
              <li>ITEM</li>
              <li>ITEM</li>
              <li>ITEM</li>
              <li>ITEM</li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nihil atque architecto adipisci
              iusto, id modi est nobis voluptates minus, maxime sit blanditiis earum exercitationem mollitia suscipit
              consequatur! Distinctio in autem assumenda non rem necessitatibus omnis velit eum est facilis? Quis, sequi
              accusantium!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ea dolorem, voluptate ad neque illo.
              Voluptate modi molestias rerum repudiandae saepe adipisci esse dolore amet debitis fuga dolores delectus,
              neque libero nulla dolorem praesentium est, ex repellat aliquam! Quisquam, dolorum? Aut aspernatur
              necessitatibus nihil minus temporibus, nam unde repudiandae tempora magni soluta dignissimos quis, harum
              reiciendis alias quas ratione sunt sapiente labore perspiciatis et voluptatibus? Corrupti blanditiis
              quisquam ab quis deserunt? Eligendi reprehenderit accusamus eum a exercitationem voluptatem voluptas atque
              nihil unde, quod harum neque vitae beatae nam sint et sunt. Odit aliquid voluptatem sit blanditiis
              repellendus veniam saepe quaerat?
            </p>
          </div>
        </div>
        <div>
          <div class="gameplayFeatures_BUILD">
          </div>
          <div class="gameplayFeatures_CONTENT">
            <h3>BUILD</h3>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt doloremque molestias, minima veritatis
              saepe aliquid quod nesciunt voluptatem facilis optio ipsam, perferendis recusandae, labore amet sapiente
              deleniti obcaecati aliquam quos.</p>
            <ul id="gameplayFeatures_LIST">
              <li>ITEM</li>
              <li>ITEM</li>
              <li>ITEM</li>
              <li>ITEM</li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nihil atque architecto adipisci
              iusto, id modi est nobis voluptates minus, maxime sit blanditiis earum exercitationem mollitia suscipit
              consequatur! Distinctio in autem assumenda non rem necessitatibus omnis velit eum est facilis? Quis, sequi
              accusantium!
            </p>
          </div>
        </div>
        <div>
          <div class="gameplayFeatures_DEFEND">
          </div>
          <div class="gameplayFeatures_CONTENT_DEFEND">
            <h3>DEFEND</h3>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt doloremque molestias, minima veritatis
              saepe aliquid quod nesciunt voluptatem facilis optio ipsam, perferendis recusandae, labore amet sapiente
              deleniti obcaecati aliquam quos.</p>
            <ul id="gameplayFeatures_LIST">
              <li>ITEM</li>
              <li>ITEM</li>
              <li>ITEM</li>
              <li>ITEM</li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nihil atque architecto adipisci
              iusto, id modi est nobis voluptates minus, maxime sit blanditiis earum exercitationem mollitia suscipit
              consequatur! Distinctio in autem assumenda non rem necessitatibus omnis velit eum est facilis? Quis, sequi
              accusantium!
              <br><br><br><br>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit deserunt voluptatem, vitae provident ab
              laboriosam facere doloribus deleniti iusto! Molestias a odio aut cumque eos, ipsam natus, sit architecto
              exercitationem alias saepe. Possimus id quo ab totam? Quasi, sint quisquam. Ipsam laborum, veritatis
              nobis
              voluptatem explicabo pariatur nisi voluptate temporibus cum quam alias, aperiam reiciendis laboriosam
              quidem quibusdam atque vero consequuntur, dicta at. Reiciendis atque maiores eius dignissimos totam
              error
              ut alias vero aliquid eum illo rem fugiat molestiae a vel, dicta accusantium voluptatibus quis facere
              laboriosam nam. Nulla excepturi recusandae voluptates quasi officia debitis repellendus labore
              consectetur
              repudiandae velit laborum, ipsa distinctio nemo non eum perferendis assumenda saepe, laboriosam dolore
              dignissimos aliquam nihil? Quos doloremque incidunt harum repudiandae libero quae qui ex nisi
              accusantium
              alias error, placeat enim magnam quam sit dolorum maiores. Necessitatibus incidunt ducimus nam nostrum
              quisquam culpa alias earum numquam vel sed repudiandae corporis, et corrupti delectus! Enim omnis
              deserunt
              similique blanditiis amet rerum necessitatibus vel. Numquam aperiam aspernatur hic nesciunt illo
              praesentium qui quasi tenetur fugiat nulla officia, minima voluptatum deserunt molestias modi est saepe
              inventore autem provident ducimus sit nobis omnis! Odio cum saepe nesciunt impedit omnis praesentium,
              doloribus doloremque sint, harum dolores repellendus.
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>

</body>
<script src="../javascript.js"></script>

</html>