<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../globalCSS.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Teko&display=swap');
      </style>
  </head>
  <body>
  <header id="header">
    <div class="header-items">
    <ul id="header-left-list">
      <li><p>LINK</p></li>
      <li><p>|</p></li>
      <li><p>Website</p></li>
      <li><p>|</p></li>
      <li>    <img src="../Images/540px-GMSurvivorSpiffo.png" class="Mascot"></li>
      <li><p>|</p></li>
      <li><p>Reddit</p></li>
      <li><p>|</p></li>
      <li><p>Youtube</p></li>
    </ul>
  </div>

  </header>
  </body>
</html>