<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../globalCSS.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Teko&display=swap');
  </style>
</head>

<body>
  <div class="header-background"></div>
  <header class="header">
    <div class="header-grid">
      <div class="item1">
        <a href="#">
          <img src="../Images/logo.png" class="Icon_LOGO">
        </a>
      </div>
      <div class="item2">
        <a href="#">
          <!-- <h5>test</h5> -->
        </a>
      </div>
      <div class="item3">
        <a href="#">
          <!-- <h5>test</h5> -->
        </a>
      </div>
      <div class="item4">
        <a href="#">
          <!-- <h5>test</h5> -->
        </a>
      </div>
      <div class="logoCircle">
        <img src="../Images/540px-GMSurvivorSpiffo.png" class="Mascot">
      </div>
      <div class="item6"> <a href="#">
          <!-- <h5>test</h5> -->
        </a>
      </div>
      <div class="item7">
        <a href="#">
          <!-- <h5>test</h5> -->
        </a>
      </div>
      <div class="item8">
        <a href="#">
          <!-- <h5>test</h5> -->
        </a>
      </div>
      <div class="item9">
        <!-- <a href="#">
          <h5>test</h5>
        </a> -->
      </div>
    </div>
  </header>
</body>

</html>