<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../globalCSS.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Teko&display=swap');
  </style>
</head>

<body>
  <header>
  </header>
  <section>
    <div id="videoJumbo">
      <div class="goTopVideo">
        <!-- <h2 id="quote">The ultimate
        Zombie Survival RPG</h2> -->
        <img src="../Images/logo.png" class="logo">
        <img src="../Images/indie-logo.png" class="indieLogo">
        <img src="" class="logo-blood">
        <div class="grid-sale-vertical">
          <div class="sale1">
            <a href="#">
              <img src="../Images/176px-Spiffo-computer.jpg">
              <p>Join fellow survivors</p>
              <h3>VISIT FORUMS</h3>
            </a>
          </div>
          <div class="sale2">
            <a href="#">
              <img src="../Images/Steam_Logo.png">
              <h3>BUY ON STEAM</h3>
            </a>
          </div>
          <div class="sale3">
            <a href="#">
              <img src="../Images/840px-GOG.com_logo.png">
              <h3>BUY ON GOG</h3>
            </a>
          </div>
        </div>
      </div>
      <video id="videoGameplayTrailer" autoplay muted loop>
        <source src="../Videos/Project_Zomboid_Trailer.mp4" type="video/mp4">
      </video>
      <div class="diagonal-box">
        <div class="diagonal-box-content">
        </div>
      </div>
    </div>
  </section>
</body>

</html>